.overview {
  padding: 1.5rem;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--success-color) 100%);
  border-radius: 16px;
  margin-bottom: 2rem;
  color: white;
  box-shadow: 0 6px 20px rgba(67, 97, 238, 0.15);
}

.overview h2 {
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.overview p {
  font-size: 1.1rem;
  margin: 0.7rem 0;
  display: flex;
  justify-content: space-between;
}

.overview p span {
  font-weight: 600;
  font-size: 1.2rem;
}
